body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
  background-color: rgb(114, 100, 203);
}

.calendar-container{
  background-color:rgb(212, 230, 246);
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 4px 8px rgba(0,0,0,.4);
  overflow: hidden;
}

.month-name{
  margin: 0;
  background-color: orangered;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.day-name{
  font-size: 20px;
  color: darkgray;
}

.day-number{
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.year{
  margin: 20px;
  font-size: 20px;
  color: darkgray;
  font-weight: 500;
}